astroid==2.7.3
attrs==21.2.0
autopep8==1.5.7
dynaconf==3.1.7
iniconfig==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==21.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pylint==2.10.2
pyparsing==2.4.7
pytest==6.2.5
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
toml==0.10.2
wrapt==1.12.1
